{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Short.me</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#">Short.me</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#">ForkMe</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">

        {% if genratedUrl %}
            <h1 class="text-center">Here is your Shorten Url</h1>
            <!-- <h6 class="text-center">http://127.0.0.1:8000/{{genratedUrl}}</h6> -->
                                <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon3">Your Beautiful Short URL</span>
                        </div>
                        <input type="url" name="url" value="http://127.0.0.1:8000/{{genratedUrl}}" class="form-control meshorturl" id="basic-url">
                        <!-- <button> copy Me</button> -->
                        <div class="input-group-append">
                            <div classs="tooltip">
    <button class="btn btn-outline-secondary" id="button-addon2" onclick="copyMe()">Copy Me</button>
                                
                                
                            </div>
  </div>
                      </div>
            <!-- <input type="text" value="http://127.0.0.1:8000/{{genratedUrl}}" id="myInput"> -->
            <div>
            <button class="btn btn-primary" type="button" onclick="redirect()">Visit</button></div>
            {% else %}
            <!-- <p class="text-center"> Visit </p> -->

        {% endif %}
        <!-- <h1 class="text-center">Here is your Shorten Url</h1>
        <h4 class="text-center">{{url}}</h4>
        <div>
            <p class="text-center"></p><button class="btn btn-primary" type="button" onclick="redirect()"> Copy</button></div> -->
    </div>
     </div>
    <!-- <script src="assets/js/jquery.min.js"></script> -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.css' %}"></script>

    <!-- <script src="assets/bootstrap/js/bootstrap.min.js"></script> -->
</body>
<script>

    function copyMe() {
  /* Get the text field */
    let copyText = document.getElementsByClassName('meshorturl')[0].value
    // let copyelement = element.textcontent;
    navigator.clipboard.writeText(copyText);
  /* Select the text field */
  //   copyText.select();
  //   copyText.setSelectionRange(0, 99999); For mobile devices

  // /* Copy the text inside the text field */
  //   document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the text: " + copyText);
} 

    function redirect() {

    const url = "{{genratedUrl}}";
    window.location = url;
    }
</script>
</html>